<div class="row">

  <div class="col-md-12">

    <h3 class="page-header">
      Netraalayam
      <small class="pull-right">Date - <span class="invoice_header_date"></span></small>
    </h3>
  </div><!-- /.col -->
</div>
                <!-- info row -->
<div class="row invoice-info">
  <div class="col-md-6 invoice-col">
    <strong> Customer Info</strong>
    <address>
      <div id= "modal_1" class="bold">
        <span id="customer_name">Bharath</span>
      </div>
      <div id= "modal_2"><span id="customer_id">1</span></div>
      <div id= "modal_3"><span id="customer_phone">9980772322</span></div>
      <div id= "modal_4"><span id="customer_gmail">test@gmail.c\om</span></div>

    </address>
  </div><!-- /.col -->

  <div class="col-md-6 invoice-col">
      <strong> Customer Info</strong>
    <address>
      <div id= "modal_5"><span id="customer_gender">Male</span></div>
      <div id= "modal_6"><span id="customer_age">age</span></div>
      <div id= "modal_7"><span id="customer_address">address</span></div>
      <div id= "modal_8"><span id="customer_pro">profession</span></div>
    </address>
  </div><!-- /.col -->

  <div class="col-md-6 nvoice-col">
        <div><strong>Invoice - </strong> <span id="modal_invoice_number"></span></div>
  </div>                  
  <div class="col-md-6 nvoice-col">
        <div><strong>Delivery Date - </strong> <span id="delivery_date"></span></div>
  </div>
</div><!-- /.row -->

<div class="row">
	<div class="col-md-12">
    <hr>
		<table class="table table-bordered" id="modal_items">
		</table>

	</div>
</div>

<div class="row">
	<div class="col-md-6 col-xs-offset-6" style="margin-left: 50%">
    <div class="">
      <table class="table" id="modal_totals">
        <tr>
          <th style="width:50%">Subtotal:</th>
          <td><span id="modal_subtotal"></span><span class="subtotal_currency"></span></td>
        </tr>
        <tr>
          <th>Tax:</th>
          <td><span id="modal_9"></span><span class="subtotal_currency"></span></td>
        </tr>
        <tr>
          <th>Discount:</th>
          <td><span id="modal_99"></span><span class="subtotal_currency"></span></td>
        </tr>
        
        <tr>
          <th>Total:</th>
          <td class="balance"><span class="due" id="totals_amount"></span><span class="subtotal_currency"></span></td>
        </tr>
        <tr>
          <th>Advance:</th>
          <td><span id="modal_89"></span><span class="subtotal_currency"></span></td>
        </tr>
        <tr>
          <th>Balance Amount:</th>
          <td><span id="modal_balance"></span><span class="subtotal_currency"></span></td>
        </tr>
      </table>
    </div>
  </div><!-- /.col -->
</div>

<div id="modal_terms">
	<h5>Terms</h5>
	<span id="modal_10">Netraalayam Payment terms: net 30. Interest accrued at 1.5% per month thereafter.</span>
</div>