<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <%= render 'layouts/header' %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Sunglasse
          <!-- <small>Control panel</small> -->
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <!-- <a href="#">
              <i class="fa fa-home"></i>
              Home Page</a> -->
            </li>
          </ol>
        </section>
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-md-8">
              <!-- general form elements -->
              <div class="box box-header">
                <div class="box-header with-border">
                  <h3 class="box-title">New Sunglasse</h3>
                </div>

                <%= render 'form', sunglasse: @sunglasse %>

                <%#= link_to 'Back', roles_path %>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
