<div class="row">
 
</div>
                <!-- info row -->
<div class="row invoice-info">
 
  </div><!-- /.col -->



  <div class="col-md-6 invoice-col" style="margin-left: 50%">
    
  </div><!-- /.col -->
</div><!-- /.row -->

<div class="row">
   <%= render 'barcode_render' %>
	
</div>

<div class="row">

</div>

<div id="modal_terms">
	
</div>