@import "bootstrap";
@import "datepicker";
@import "invoices";
@import "print";
 .main-header .sidebar-toggle{
    padding-top: 5px !important;
    padding-right: 15px;
    padding-bottom: 5px !important;
    padding-left: 15px;
 }
 .user-panel{
   padding: 3x !important;
 }
 .newAddBtn{
   float: right;
 }
 .userStore{
 float: right;
 margin-top: -46px;
 }
